.left {
    order: 1
}

.middle {
    order: 2
}

.right {
    order: 3
}

.container {
    margin: auto;
}

@media (max-width: 992px) {
    .left { order: 3}
    .right { order: 2}
    .middle { order: 1}
    .container {
        display: flex;
        flex-direction: column;
    }
}
